body {
    margin: 0;
    padding: 0;
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

input, textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
    margin: 10px 0 10px 0;
    height: 30px;
}

textarea {
    height: 50px;
}

input[type="submit"] {
    background-color: rgb(55, 218, 55);
    color: white;
    border: 0;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 400px;
    height: 450px;
    padding: 30px;
    margin: 60px;
    border-radius: 10px;
    box-shadow: 5px black;
    & h2 {
        display: block;
    }
}