header {
    background-color: #333;
    color: white;
    padding: 20px;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.overlay-text {
    position: absolute;
    bottom: 0px;
    background-color: black;
    color: white;
    padding: 10px;
}

.image-container {
    position: relative;
}

.image-container:hover .overlay-text {
  opacity: 0.5;
}