:root {
    --primary-color: steelblue;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--primary-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 200px;
    margin: 14px;
    border: 3px green;
    padding: 4px;
    background-color: yellow;
    color: blue;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    display: block;
    margin-top: 20px;
    border-top: 4px dotted black;
    text-align: center;
}